html {
  width: 100%;
  margin: auto;
  height: 100%;
}

* *:before *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  width:100%;
  margin: 0;
  padding: 0;
}

.head-icons {
  text-align: center;
  background: gray;
}

.h-icons {
  display: flex;
  padding: 10px 1px;
}

.h-icon { 
  flex:1;
  min-height: 100px;
  align-content: center;
  padding: 1px 1px;
  margin-top: 10px;
  color: white;
}

.h-icon > img {
  width: 35px;
  height: 35px;
}


.logo {
  padding: 80px 120px 40px 80px;
}

.t-btn {
  display: flex;
  align-items: center;
  justify-content: center;

}

.topics-btn {
  border: 3px solid white;
  background-color: #d33a2c;
  border-radius: 10px;
  padding: 10px 28px;
  color: white;
  font-size: 20px;
  font-weight: 900;
  background-image: url(images/search.png);
  background-repeat: no-repeat;
  background-position: 5px center;

}

.main-ctn {
  position: relative;
}

.ctn {
  display: grid;
  grid-template-columns: repeat(2, minmax(500px, 1fr));
  grid-template-rows: repeat(2, minmax(600px, 1fr));
}

.title {
  position: absolute;
  top: 10px;
  text-align: center;
  flex-direction: column;
  left: 38%;
  right: 36%;
}

.title > h1 {
  text-align: center;
  display: inline-block;
  padding: 11px;
  margin: 0;
  background: white;
  color: #111411;
}

.section {
  padding: 40px;
  padding-top: 140px ;
  color: white;
}

.section1 {
  background:#4d4e4d
}

.section2 {
  background:#3e3f3e
}

.section3 {
  background:#414241
}

.section4 {
  background:#4e504e
}

.user-details{
  display: flex;
  align-items: center;

}

.user-details-img {
  padding-right: 15px;
}

.user-details-text{
  display: flex;
  align-items: center;
}

.user-details-text > h2 {
  padding-right: 8px;;
}

.user-img {
  max-width: 45px;
  max-height: 45px;
}

.user-content{
  font-size: 26px;
}

.user-content > a {
  text-decoration: none;
  color: white;
}

.latest-posts{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, minmax(350px,1fr));
}

.posts{
  padding: 20px 25px;
  position: relative;
  height: 500px;
}

.posts > span {
  font-size: 12px;
}

.posts > h2 {
  font-size: 30px;
}

.posts > p {
  text-align: center;
  padding-bottom: 40px;
}

.posts > p > span {
  text-decoration: underline;
}

.posts .art-cont {
  font-size: 19px;
}

.post-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: #474849;
  min-width: 50px;
  min-height: 50px;
}

.latest-posts2 {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, minmax(350px,1fr));
}

.smash-post{
  background-color: #767a76;
}

.member-btn-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.member-btn {
  border: none;
  border-radius: 13px;
  padding: 10px 40px;
  font-size: 15px;
  font-weight: 700;
  /* width: 50%; */
  margin: 0 auto;
}

.latest-posts3 {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, minmax(350px,1fr));
}

.other-articles, .more-links {
  /* border: 1px solid black; */
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

.other-articles > h4,
.more-links > h4,
.other-articles > h4 {
  border-bottom: 4px solid gray;
}

.eth-design{
  width: 100%;
  /* height: 100%; */
  text-align: center;
  background-color: rgb(162, 168, 168);
  padding: 20px;
}

.eth-ctn {
  padding-top: 7%;
  width: 45%;
  margin: 0 auto;
}

.eth-ctn > button { 
  background: transparent;
  background-color: white;
  width: 60%;
  border-radius: 10px;
  color: rgb(53, 53, 54);
  font-size: 17px;
  padding: 20px 20px !important;
  margin: 10px auto;
}

.white-text {
  color: white;
}

.design-img {
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
  min-width: 80%;
  height: 300px;
  background-color: rgb(105, 102, 102);
}

.community-links{
  display: flex;
  background: rgb(236, 231, 231);
}

.community-img {
  background: rgb(63, 56, 56);
  padding: 20px;
  margin: 20px;
  width: 100px;
  height: 100px;
  border: 3px solid rgb(172, 164, 164);
  border-radius: 14px;
}

.community-text {
  width: 80%;
  display: inline-block;
}

.art-ctn {
  display: grid;
  background-color: #c4cac4;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-rows: repeat(3, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 40px;
}

.oth-article {
  padding: 30px;
  display: flex;
}

.art-img {
  border: 5px solid gray;
  border-radius: 10px;
  padding: 5px;
  width: 100px;
  height: 60px;
}

.design-system {
  padding: 30px;
  display: flex;
  background-color: #767a76;
  color: white;
}

.design-system > h1 {
  font-size: 36px;
  margin-top: 5px;
}

.design-system > h2 {
  margin-bottom: 10px;
}

.design-content {
  width: 80%;
}

.design-system-img {
  width: 15%;
  background-color: #3e3f3e;
  display: inline-block;
}

.design-btn {
  padding: 15px;
  background: white;
  font-size: 20px;
  border-radius: 10px;
}

.art-content {
  padding-left: 20px;
}

.art-content > h2 {
  padding-top: 8px;
  margin-top: 0;
}

.guides {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px,1fr));
}

.smashimg{
  grid-column: span 2;
  min-height: 450px;
}

.other-articles2 {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.footer {
  background: #a22222;
}

.top-ft {
  text-align: center;
}

.ft-links {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.f-links {
  padding: 10px 60px 10px 2px;
}

.ft-bt-ctn {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 20px;
}

.contacts {
  display: flex;
  list-style: none;
  padding: 1px;

}

.contacts > li {
  padding: 5px;
}