html {
  width: 100%;
  margin: auto;
  height: 100%;
}

* *:before *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  width:100%;
  margin: 0;
  padding: 0;
}

.head-icons {
  text-align: center;
  background: #d33a2c;
}

.h-icons {
  display: flex;
  padding: 10px 1px;
}

.h-icon { 
  flex:1;
  min-height: 100px;
  /* border: 1px solid grey; */
  align-content: center;
  padding: 1px 1px;
  margin-top: 10px;
  color: white;
}

.h-icon > img {
  width: 35px;
  height: 35px;
}


.logo-img {
  display: inline-block;
  /* border: 1px solid grey; */
  width: 210px;
  height: 100%;
  margin-top: 10px;
  padding-left: 40px;
  background: #d33a2c;
  
}

.t-btn {
  display: flex;
  align-items: center;
  justify-content: center;

}

.topics-btn {
  border: 3px solid white;
  background-color: #d33a2c;
  border-radius: 10px;
  padding: 10px 28px;
  color: white;
  font-size: 20px;
  font-weight: 900;
  background-image: url(images/search.png);
  background-repeat: no-repeat;
  background-position: 5px center;

}

.main-ctn {
  position: relative;

}

.ctn {
  display: grid;
  grid-template-columns: repeat(2, minmax(500px, 1fr));
  grid-template-rows: repeat(2, minmax(600px, 1fr));
  border: 1px solid red;
}

section {
  border: 1px solid black;
}

.title {
  position: absolute;
  top: 10px;
  /* margin-left: 50%; */
  left: 38%;
  right: 36%;
  /* right: 40%; */
  border: 1px solid green;
  /* padding: 0;
  margin: 0; */
}

.title > h1 {
  text-align: center;
  border: 1px solid black;
  padding: 0;
  margin: 0;
}

.latest-posts{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, minmax(350px,1fr));
}

.posts{
  padding: 10px;
  position: relative;
}

.post-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: blueviolet;
  min-width: 50px;
  min-height: 50px;
}

.latest-posts2 {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, minmax(350px,1fr));
}

.member-btn-ctn {
  text-align: center;
}

.member-btn {
  border: none;
  border-radius: 13px;
  padding: 10px 40px;
  font-size: 15px;
  font-weight: 700;
  /* width: 50%; */
  margin: 0 auto;
}

.latest-posts3 {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, minmax(350px,1fr));
}

.other-articles, .more-links {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.other-articles > h4,
.more-links > h4,
.other-articles > h4 {
  border-bottom: 1px solid black;
}

.eth-design{
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: cyan;
}

.eth-ctn {
  padding-top: 7%;
  width: 45%;
  margin: 0 auto;
}

.eth-ctn > button{ 
  background: transparent;
  background-color: white;
  width: 60%;
  padding: 10px;
  border-radius: 10px;
}

.white-text {
  color: white;
}

.design-img {
  min-width: 80%;
  min-height: 350px;
  background-color: gray;
}

.community-links{
  display: flex;

}

.community-img {
  width: 20%;
  display: inline-block;
  min-height: 200px;
}

.community-text {
  width: 80%;
  display: inline-block;
}

.art-ctn {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-rows: repeat(3, minmax(400px, 1fr));
  grid-gap: 20px;
}

.oth-article {
  border: 1px solid black;
}

.design-system {
  padding: 50px;
  min-height: 250px;
}

.guides {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px,1fr));
}

.smashimg{
  grid-column: span 2;
  min-height: 450px;
}

.other-articles2 {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.footer {
  background: #a22222;
}

.top-ft {
  text-align: center;
}

.ft-links {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.f-links {
  padding: 10px 60px 10px 2px;
}

.ft-bt-ctn {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 20px;
}

.contacts {
  display: flex;
  list-style: none;
  padding: 1px;

}

.contacts > li {
  padding: 5px;
}